<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
    <div style="margin-right: 21%;margin-left: 15.5%;">
    <h1 th:text="${game.gameTitle}" style="position: relative;text-align: right;float: right;margin-top: 15%;">Game Title</h1>
        <img th:src="@{${url}}" style="scale: 70%;float: left;">
    </div>
    <div style="left: 20%;padding-left: 20%;padding-right: 20%;">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Store</th>
                <th>Current Price</th>
                <th>Original Price</th>
                <th>Discount(%)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="price:${prices}">
                <td><a th:inline="text" th:href="${price.url}">[[${price.shop}]]</a> </td>
                <td th:text="${price.price_new}"></td>
                <td th:text="${price.price_old}"></td>
                <td th:text="${price.price_cut}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary" id="homeRedirect" th:href="@{/}" style="margin-left: 50%;">Home</a>
</body>
</html>